.chart {
	shape-rendering: crispEdges;
}

.mini,.main,.feedback_area,.m_mini text {
	font: 12px sans-serif;	
}

.month text {
	text-anchor: start;
}

.axis line,.m_axis line, .axis path,.m_axis path {
	stroke: black;
}

.miniItem {
	stroke-width: 20;	
}

.mag_miniItem {
	stroke-width: 35;	
}

.debunk, .mag_miniItem.debunk, .debunk.longItem {
	stroke: #FFD34E;
}

.rumor, .mag_miniItem.rumor, .rumor.longItem {
	stroke: #327CDE;	
	/*	something like yellow 	*/		
}

.overlap{
	stroke: #90BD00;
	/*	something like orange 	*/
}

.mini .longItem {
	stroke-width: 30;	
}

.m_mini .longItem {
	stroke-width: 55;	
}

.mini .longItem.hovered {
	stroke-width: 45;
}

.m_mini .longItem.hovered {
	stroke-width: 75;
}

.brush .extent {
	stroke-width: 1.5;
	fill: black;
	fill-opacity: .6;
}

