#main {
	height: 580px;
	width: 1140px;
	float:left;
}

.qheader{
	font:bold 14px sans-serif;
	width: 800px;
}

.qselections{
	font:normal 13px sans-serif;
}

#SankeyMode{
	font: 10px sans-serif;
}

#pointer_control {
	position:absolute;
	top: 165px;
	left: 940px;
}

#pc_label {
	position:absolute;
	top: 160px;
	left: 845px;
}

#delete_window {
	font: 10px sans-serif;
	position:absolute;
	top: 30px;
	left: 1075px;
}

#barzone {
	height: 560px;
	width: 280px;
	position:absolute;
	left: 870px;
	font : 11px sans-serif;
	font-weight : bold;
}

#TimelineZone {
	height: 250px;
	width: 1140px;
}

p {
	font                : 12px sans-serif;
    font-weight         : bold;
}

p span{
	font                : 12px sans-serif;
    font-weight         : bold;
}

.ItemInfo {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	width: 250px;
	text-align: left;
	border-collapse: collapse;
	margin: 0px 0px 5px 10px;
}

.ItemInfo th {
	font-size: 15px;
	font-weight: normal;
	background: #4D4D4D;
	color: white;
	padding: 2px 0px 2px 8px;
	border: 1px solid black;
}

#AuthorInfo td, #TimeInfo td {
	background: white;
	color: #4D4D4D;
	border: 1px solid black;
	padding: 2px 0px 2px 8px;
}

#AuthorInfo td{
	height: 160px;
}

#TweetInfo {
	height: 270px;
	overflow:auto;
}