
.diagram {
  background: #fcfcfa;
  color: #333;
  font : 14px Calibri,sans-serif;
} 

.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}
 
.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}
 
.link {
  fill: none;
  stroke: #D1DBBD;/* #000; */
  stroke-opacity:1; 
}

.link:hover {
  stroke-opacity: .4;
}

.dlink {
  fill: none;
  stroke: #91AA9D; /* #000; */
  stroke-opacity: 1;
}

.dlink:hover {
  stroke: #3E606F; /* #000; */
  stroke-opacity: 1;
}
