#main {
	height: 310px;
	width: 1140px;
	float:left;
}

#SankeyMode{
	font: 10px sans-serif;
	top: 10px;
	left: 740px;
	position: absolute;
}

#hc1,#hc2,#hc3,#hc4 {
	position: absolute;
}

#hc1,#hc2 {
	top: 460px;
}

#hc1,#hc3 {
	left: 80px;
}

#hc3,#hc4 {
	top: 475px;
}

#hc2, #hc4 {
	left: 170px;
}

#pointer_control {
	font: 10px sans-serif;
	position:absolute;
	top: 20px;
	left: 1040px;
}

#barzone {
	height: 300px;
	width: 600px;
	font : 11px sans-serif;
	font-weight : bold;
	position: absolute;
	top: 10px;
	left: 300px;
}

#TimelineZone {
	top: 330px;
	left: 0px;
	position: absolute;
	height: 250px;
	width: 1140px;
}

p {
	font                : 12px sans-serif;
    font-weight         : bold;
}

p span{
	font                : 12px sans-serif;
    font-weight         : bold;
}

.ItemInfo {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	width: 250px;
	text-align: left;
	border-collapse: collapse;
	margin: 0px 0px 5px 10px;
}

.ItemInfo th {
	font-size: 15px;
	font-weight: normal;
	background: #4D4D4D;
	color: white;
	padding: 2px 0px 2px 8px;
	border: 1px solid black;
}

#AuthorInfo{
	position: absolute;
	top: 10px;
	left:270px;
}

#TimeInfo {
	position: absolute;
	top: 220px;
	left:270px;
}

#AuthorInfo td, #TimeInfo td {
	background: white;
	color: #4D4D4D;
	border: 1px solid black;
	padding: 2px 0px 2px 8px;
}

#AuthorInfo td{
	height: 160px;
}

#TweetInfo {
	height: 290px;
	overflow:auto;
	position: absolute;
	top: 10px;
	left: 10px;	
}